.Header{
  height: 100px;
  background-color: firebrick;
  display: flex ;
  align-items: center;
  
}

#logo{ 
  width: 50px;
  margin-left: 50px;
}

#title{ 
  margin-left: 25px;
  font-size: 30px ;
}

.links{ 
  margin-left: 60px;
  font-size: 17px;
  background-color: #ED6B5A ;
  padding: 5px;
  border-radius: 5px;
  color:black; 
}
#inventory-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}
.products{ 
width:600px;
height: 200px; 
display: flex;
flex-direction: column; 
justify-content: center ;
align-items: center;
background-color: rgb(141, 43, 31);
margin: 10px;
border-radius: 10px;

}

#productImg{
 width: 200px;
 height: 150px;
}

