.main{ 
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header{
  height: 100px;
  background-color: firebrick;
  display: flex ;
  align-items: center;
  
}

#logo{ 
  width: 50px;
  margin-left: 50px;
}

#title{ 
  margin-left: 25px;
  font-size: 30px ;
}

.links{ 
  margin-left: 60px;
  font-size: 17px;
  background-color: #ED6B5A ;
  padding: 5px;
  border-radius: 5px;
  color:black; 
}
#inventory-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}
.products{ 
width:600px;
height: 200px; 
display: flex;
/* flex-direction: column;  */
justify-content: start ;
align-items: center;
background-color:#d34735;
margin: 10px;
border-radius: 10px;

}
.product-info{
display: flex;
flex-direction: column;
height: 90%; 
width: 200px;
margin-left: 5px;
}
h3{
  margin: 5px;
}
.product-button-box{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.product-buttons{
font-size: 16px;
background-color: #3ad887;
border-radius: 5px;
height:40px;
}


#product-img{
 width: 320px;
 height: 90%;
 margin-left: 15px;

}
#form { 
  background-color:#3ad887;
  height: 520px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 5px;
}

.form-inputs{
  justify-content: start;
  width: 90%;
  margin: 5px;
}
.form-buttons{ 
  background-color: #ED6B5A;
  margin-left: 15px;
  font-size: 16px;
  border-radius: 7px;
  height:30px;
}
p{
  margin: 5px;
  font-size: 20px;

}
#form-img{ 
  width:250px;
}

